<h1>Welcome to Rock, Paper, Scissors!</h1>
<br>
<p>In order to play the game, start by entering in /game/ in the address bar.  Player 1 then enters in either, rock, paper or scissors, followed by '/' and then Player 2 makes their choice. Then hit enter to see who wins!</p>
