body {
  background-color: lightblue;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: darkblue;
}

p {
  font-family: 'Poppins', sans-serif;
  color: darkblue;

}
